{% extends 'base.html' %}
{% load static %}

{% block title %} Nova Categoria {% endblock title %}

{% block content %}

<header class="intro">
    <img class="intro-pic" src="{% static 'images/create.jpg' %}" alt="create-pic">
    <h2>Nova categoria</h2>
</header>
<article class="formulary">
    <form action="{% url 'places:create-category' %}" method="POST">
        {% csrf_token %}
        <section class='form-field'>
            {{ form.name.label_tag }}
            {{ form.name }}
        </section>
        <section class='form-field'>
            {{ form.info.label_tag }}
            {{ form.info }}
        </section>
        <section class='form-checkbox'>
            {{ form.places.label_tag }}
            {{ form.places }}
        </section>
        <button class="primary-button" type="submit">Criar</button>
    </form>
</article>

{% endblock content %}
