{% extends 'base.html' %}
{% load static %}

{% block title %} {{ category.name }} {% endblock title %}

{% block content %}

<header class="intro">
    <img class="intro-pic" src="{% static 'images/detail.jpg' %}" alt="detail-pic"/>
    <h2>{{ category.name }}</h2>
    <section class="more">        
        <a href="{% url 'places:delete-category' pk=category.pk %}">
            <button class="delete-button">Apagar</button>
        </a>
    </section>
</header>
<article class="description">
    {{ category.info | linebreaks }}
</article>

{% if category.places.all %}

<header class="intro">
    <h3>Regiões</h3>
</header>
<article class='category-cards-list'>
    {% for place in category.places.all %}

    {% include "components/place_card.html" with
        card_id=place.id
        card_name=place.name 
        card_date=place.date
        card_picture=place.picture %}

    {% endfor %}
</article>
{% endif %}

{% endblock content %}
