{% extends 'base.html' %}
{% load static %}

{% block title %} Buscar {% endblock title %}

{% block content %}

<header class='intro'>
    <img class="intro-pic" src="{% static 'images/list.jpg' %}" alt="list-pic">
    <h2>Busca</h2>
</header>
<article class='search'>
    <form action="{% url 'places:search' %}" method="GET">
        <section class="form-field">
            <label for="place_name">Lugar</label>
            <input type="text" name="place_name" id="place_name" />
        </section>
        <button class="primary-button" type="submit">Pesquisar</button>
    </form>
</article>

<header class='intro'>
    <h2>Resultados</h2>
</header>
<article class='place-cards-list'>
    {% if places_list %}
    {% for place in places_list %}

    {% include "components/place_card.html" with
        card_id=place.id
        card_name=place.name 
        card_date=place.date
        card_picture=place.picture %}

    {% endfor %}
    {% else %}
    <p>Não foi encontrado nenhum resultado para essa busca.</p>
    {% endif %}
</article>

{% endblock content %}
