{% extends 'base.html' %}
{% load static %}

{% block title %} Atualizar: {{ place.name }} {% endblock title %}

{% block content %}

<header class='intro'>
    <img class="intro-pic" src="{% static 'images/create.jpg' %}" alt="create-pic" />
    <h2>Atualizar</h2>
    <h3>{{ place.name }}</h3>
</header>
<article class="formulary">
    <form method="POST" action="{% url 'places:update' place.pk %}">
        {% csrf_token %}
        <section class='form-field'>
            {{ form.name.label_tag }}
            {{ form.name }}
        </section>
        <section class='form-field'>
            {{ form.info.label_tag }}
            {{ form.info }}
        </section>
        <section class='form-field'>
            {{ form.picture.label_tag }}
            {{ form.picture }}
        </section>
        <button class="primary-button" type="submit">Atualizar</button>
    </form>
</article>

{% endblock content %}
