{% extends 'base.html' %}
{% load static %}

{% block title %} Sobre {% endblock title %}

{% block content %}

    <header class="intro">
        <img class="intro-pic" src="{% static 'images/about.jpg' %}" alt='about-pic' />
        <h2>Sobre</h2>
    </header>
    <article class="description">
        <p>
            O <b>Capital</b> é um guia rápido para te ajudar a descobrir o próximo destino da 
            sua viagem! Aqui você encontra um resumo rápido dos pontos turísticos imperdíveis
            de cada lugar e ainda confere os eventos que vão coincidir com a aventura na qual
            você quer embarcar! Tudo isso acompanhado das informações mais importantes para 
            saber de antemão e aproveitar ainda mais a sua viagem, chega de contratempos!
        </p>
    </article>

{% endblock content %}
