{% load static %}

<header class="header-global">
    <img class="header-logo" src="{% static 'images/logo.png' %}" alt="logo">
    <h1 class="header-title">Capital</h1>
    <nav class="header-links">
        <a class="header-item" href="{% url 'index' %}">Home</a>
        <a class="header-item" href="{% url 'about' %}">Sobre</a>
        <a class="header-item" href="{% url 'places:index' %}">Lugares</a>
        <a class="header-item" href="{% url 'places:categories' %}">Regiões</a>
    </nav>
</header>
